body{
    margin-bottom: 3em;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-size: 12pt;
}

nav input[type=text] {
    float: right;
    padding: 6px;
    font-size: 17px;
    position: absolute;
    top: 1em;
    right:0;
    background-color: transparent;
    color: #adb5bd;
    margin-right: 1em;
    border: #adb5bd 1px solid;
}

@media screen and (max-width: 767px) {
    nav input[type=text] {
        float: left;
        display: block;
        text-align: left;
        margin-left: 20%;
    }
}
#head{
    width: 40%;
    margin: 2em auto;
    align-content: center;
}
h5{
    align-content: center;
    margin: auto;
    width:50%;
}