/* DEVELOPER Andrew Gardner, IS117-003, Fall 2023 */
#main{
    margin-bottom: 5%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-size: 12pt;
}

nav input[type=text] {
    float: right;
    padding: 6px;
    font-size: 17px;
    position: absolute;
    top: 1em;
    right:0;
    background-color: transparent;
    color: #adb5bd;
    margin-right: 1em;
    border: #adb5bd 1px solid;
}
.card{
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}